---
import type { MarkdownInstance } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'

import BlogPost from '../../layouts/BlogPost.astro'

const posts = await getCollection('blog')
const post = posts.find((p) => p.slug === Astro.params.slug)

let Content: MarkdownInstance<CollectionEntry<'blog'>['data']>['Content'] | undefined

if (post) {
  const { Content: content } = await post.render()
  Content = content
}
---
<BlogPost frontmatter={post?.data}>
  {Content ? <Content /> : <p>Not found</p>}
</BlogPost>
