---
const date = new Date()
---
<footer class="container mx-auto px-4 sticky top-[100vh]">
  <div class="flex justify-center h-12 mt-10">
    <p class="text-sm text-gray-500">&copy; {date.getFullYear()} YOUR NAME HERE. All rights reserved.</p>
  </div>
</footer>
