---
import NavLink from './NavLink.astro'
---
<nav class="container mx-auto px-4">
  <div class="flex justify-center h-12">
    <div class="flex space-x-8">
      <NavLink href="/">
        Home
      </NavLink>
      <NavLink href="/blog">
        Blog
      </NavLink>
      <NavLink href="/about">
        About
      </NavLink>
    </div>
  </div>
</nav>
