---
export interface Props {
  href: string
}

const { href } = Astro.props
const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---
<a
  class:list={[
    'inline-flex items-center text-sm sm:text-base font-medium sm:font-semibold',
    isActive && 'text-black dark:text-white',
    !isActive && 'text-gray-500 hover:text-indigo-500'
  ]}
  href={href}
  rel={!isActive ? 'prefetch' : undefined}
>
  <slot />
</a>
